@import '~antd/dist/antd.css';

.logo {
    width: 350px;
    padding: 10px 10px;
}

.darts {
    height: 100px;
    padding: 10px;
    width: 100px;
}

.loginBanner {
    background-color: #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
}

#normal_login{
    width: 500px;
}

a, a:hover {
    color: #fac800;
}

.ant-btn-primary,
.ant-btn-primary:focus {
    background-color: #fac800;
    border-color: #fac800;
    color: #000;
    margin-right: 10px;
}

.ant-btn-primary:hover {
    background-color: #fac800;
    border-color: #fac800;
    color: #fff;
}

.ant-checkbox-wrapper:hover
.ant-checkbox-inner,
.ant-checkbox-inner:hover,
.ant-checkbox-inner:active,
.ant-checkbox-checked::after,
.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    background-color: #fac800;
    border-color: #fac800;
    color: #000;
}

.ant-checkbox {
    border-color: #fac800;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #fac800;
    box-shadow: none;
}